@font-face{
    font-family: 'Slab';
    src: url(../fonts/RobotoSlab-Regular.ttf);
}
@font-face{
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face{
    font-family: 'Merriweather';
    src: url(../fonts/Merriweather-Regular.ttf);
}
@font-face{
    font-family: 'playg';
    src: url(../fonts/PlaywriteVNGuides-Regular.ttf);
}