* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #e6e6e6;
}

header {
    background-color: #ffffff;
    color: #000000;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav i {
    padding: 10px;
}

main {
    padding: 40px;
    text-align: center;
}

.imgf {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("../media/images/fondo1.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.imglogo {
    width: 70px;
    height: 70px;
}

.imgf h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.imgf p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.imgf .link1 {
    background-color: #5d99f5;
    color: #111;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.imgf .link1:hover {
    background-color: #5d99f5;
}

.mainm {
    margin-top: 40px;
}

.mainm h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.modulos {
    margin-top: 10px;
    display: inline-block;
    width: 30%;
    margin-right: 2%;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.modulos img {
    width: 100%;
    border-radius: 8px;
}

.modulos:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    color: #000000;
}

footer p {
    font-size: 14px;
}

.futer {
    color: #000000;
    text-align: center;
}

.futer1 {
    color: #000000;
    text-align: center;
    font-style: oblique;
}

.nombre {
    text-align: center;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    color: #ffffff;
}

.insti {
    color: #ffffff;
}
.imgf .link1 {
    background-color: #f0c14b;
    color: #111;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.imgf .link1:hover {
    background-color: #f7a800;
}

nav a {
    padding: 10px;
}

#gallery {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.gallery-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.gallery-item {
    min-width: 100%;
    box-sizing: border-box;
}

.gallery-item img {
    width: 100%;
    display: block;
}

.nav-button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.nav-button:hover {
    background-color: #005f5f;
}
figure>img{
    width: 200px;
    height: 600px;
}